/* font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styl */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    background-color: #F3F1FF;

}
main{
    display: flex;
    justify-content: center;
}




/*-- top-players-- */
.container{
    width: 870px;
    height: 679px;
    background-color: #FFFFFF;
   
}
h2{
    margin: 30px;
    color: #562EFF;

}
.palyers{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    margin-left: 30px;
  
}
.player{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.player img{
    width: 56px;
    margin-right: 16px;
}

hr{
    border: 1px solid #D1D1D1;
    width: 807px;
}

/* top-blogs */



